[2020-04-18 08:11] hitchcott opened #456 "Replace tables in markdown with scrollable tables"
If there's a table with a lot of columns, this gets difficult to read on mobile.

Most tables are replaced with scrolling tables, but the tables within markdown files should also be converted.

[2020-04-18 21:59] gitr0n1n commented on #456
Cool, I'll knock this off the plate

[2020-04-18 21:59] gitr0n1n commented on #453
Cool, I'll knock this off the plate.

[2020-04-18 22:01] gitr0n1n commented on #446
Added in the Netowrk monitoring page.

[2020-04-18 22:01] #446 closed

[2020-04-20 19:17] gitr0n1n commented on #357
@hitchcott I was thinking we do this for ETC dedicated new sources so we don't have to manually keep adding:

Example 1: https://medium.com/feed/etc-core

[2020-04-21 04:52] hitchcott opened #460 "Investigate Build Times"
Each build is taking around 5 minutes on netlify which seems excessive, especially as caching is supposed to be enabled.

See if there's anything that can be done to reduce the build time.

[2020-04-21 04:55] hitchcott commented on #357
@gitr0n1n sounds like a good approach

I guess we could automatically add new articles and have the option to blacklist certain links if they aren't appropriate.

Looking at the etc-core RSS, it looks like it even has tags, which we can auto-populate.

Does Etherplan have an RSS feed?

[2020-04-21 10:05] gitr0n1n commented on #460
I'm guessing its the Blog images. Can those be compressed and optimized?

[2020-04-21 10:07] gitr0n1n commented on #460
Also, opposed uploading the same file into multiple folders like a hardfork image or the ECIPs image, would it be better to have it in one blogs/image folder?

[2020-04-21 10:10] #441 closed

[2020-04-21 10:11] gitr0n1n commented on #346
Looks like everyne is using the Media kit where they can now that they know about it.

[2020-04-21 10:11] #346 closed

[2020-04-21 10:13] gitr0n1n commented on #294
Works!

[2020-04-21 10:13] #294 closed

[2020-04-21 10:46] gitr0n1n commented on #453
2015, 2016, 2019, 2020 done

[2020-04-21 10:51] hitchcott commented on #460
@gitr0n1n can you point out where the duplicates are?

I think that yes we can do a shared folder

[2020-04-21 13:03] gitr0n1n commented on #453
2017, 2018 done

[2020-04-21 13:03] #453 closed

[2020-04-22 08:20] gitr0n1n commented on #460
Yeah i set them up with ECIP image on top and then hardfork image below:

Example: https://github.com/ethereumclassic/ethereumclassic.github.io/tree/master/content/blog/2019-05-30-core-devs-call-atlantis-call

and

https://github.com/ethereumclassic/ethereumclassic.github.io/tree/master/content/blog/2019-06-07-core-devs-call-atlantis-scheduling

[2020-04-22 08:21] gitr0n1n commented on #460
also these are just pulled from the media kit. So could be high res. So if you have an optimization tool to auto reduce their file size and resize to an appropriate width for the page, that would be awesome.

I tihnk i saw a PR in the past where someone rolled through and did that.

[2020-04-22 08:33] gitr0n1n commented on #357
Looks like Ethplan is a wordpress site. So we could ask Donald to install an RSS feed plugin.

[2020-04-22 09:06] gitr0n1n commented on #357
Found it:
https://etherplan.com/feed/

[2020-04-22 20:41] gitr0n1n commented on #337
Delta Direct is hooked up to the RSS feed.

[2020-04-23 06:36] gitr0n1n commented on #460
Here was the Lossless image optimization PR:

https://github.com/ethereumclassic/ethereumclassic.github.io/pull/356

[2020-04-23 08:09] hitchcott commented on #460
That image optimisation has already been applied. Also the images are automatically resized and optimised during the build process for production.

I'm investigating this, I'm pretty sure it's to do with caching plugins.

[2020-04-28 15:15] gitr0n1n opened #464 "Broken DNS"
DNS redirect is broken

https://www.ethereumclassic.org/

[2020-04-28 17:14] bobsummerwill commented on #464
+ @YazzyYaz

[2020-04-28 18:07] YazzyYaz commented on #464
@gitr0n1n thanks for reporting this, can you try the URL again to confirm my redirect fix just deployed?

[2020-04-29 14:22] #464 closed

[2020-04-30 15:16] hitchcott commented on #460
Problem solved. I have switched to using a different caching plugin, a typical build should now deploy in around 2 minutes (once I merge this next update)...

![image](https://user-images.githubusercontent.com/1696942/80727712-f3ced980-8afd-11ea-9f71-b91918d9337a.png)

[2020-04-30 15:16] #460 closed

[2020-04-30 18:51] #270 closed

[2020-04-30 18:51] #456 closed

[2020-04-30 18:52] hitchcott commented on #300
https://github.com/hitchcott/gatsby-plugin-yaml-i18n

[2020-04-30 18:52] #300 closed

[2020-04-30 19:24] hitchcott opened #467 "Incorrect dated blog article?"
@gitr0n1n

Is this meant to be in 2020?

https://github.com/ethereumclassic/ethereumclassic.github.io/tree/master/content/blog/2020-03-17-5m20-era3-block-reward-reduction

[2020-04-30 19:51] gitr0n1n commented on #467
yes, era 3 happened last month

[2020-04-30 21:53] hitchcott commented on #467
Okay, I was confused because the content seems to be repeated from an older post, but if it's intentional that's no problem.

Feel free to close this issue if it's intended.

[2020-05-01 00:00] gitr0n1n commented on #467
it's intentional, It's the ECIP-1017. Thanks!

[2020-05-01 00:00] #467 closed

[2020-05-02 08:01] gitr0n1n opened #471 "Should we have a Merchant page?"
I was just reviewing https://cryptwerk.com/pay-with/etc/ and noticed there are a ton of merchants. Should we have a page designated for these companies?

[2020-05-02 08:12] TheEnthusiasticAs commented on #471
It is more efficient (with the time the list will become too long - millions) to let e. g. cryptwerk manage those and etc website will list in turn those managers.

[2020-05-02 20:32] gitr0n1n commented on #471
Good point! I'll close this comment.

[2020-05-02 20:32] #471 closed

[2020-05-06 08:20] gitr0n1n opened #472 "Links Broken"
Mining software links are broken. The guides work, but the links to the product do not work.

https://ethereumclassic.org/development/mining-resources

[2020-05-08 21:12] #472 closed

[2020-05-15 10:58] IstoraMandiri opened #477 "Upgrade Deps, Enable Gatbsy Incremental Builds"
https://www.netlify.com/blog/2020/04/23/enable-gatsby-incremental-builds-on-netlify

Supposedly this should enable 10 second build times 🤔

[2020-05-17 19:33] TheEnthusiasticAs opened #478 "Two different Stat pages with the same stat link at the end"
ETCStats and 2Miners Network statistic links are leading to the 2Miners statistic dashboard:

1. http://etcstats.org/
2. https://2miners.com/etc-stats/

The 1st one can be deleted!?
![image](https://user-images.githubusercontent.com/48069525/82158117-16931900-9886-11ea-91ad-8cab388f5991.png)

[2020-05-18 22:07] gitr0n1n commented on #478
Good catch. Some of these are domains I bought to donate to the project, but they aren't live yet. So I'm removing them in this PR and will only add back once officially setup.

https://github.com/ethereumclassic/ethereumclassic.github.io/pull/479

issue is addressed. Going to close this one. Nice catch @TheEnthusiasticAs

[2020-05-18 22:07] #478 closed

[2020-05-20 10:05] TheEnthusiasticAs opened #482 "Update network resources"
delete:
https://etcstatus.live/ (no longer maintained atm)

add:
Only Phoenix related: https://phoenix.fault.dev/ (an alternative to the above)
Only Phoenix related: https://ph03n1x.fault.dev/ (an alternative to the previous one: it has a different set of nodes connected)

[2020-05-20 14:15] gitr0n1n commented on #482
please setup the PR for review @TheEnthusiasticAs

[2020-05-20 14:48] TheEnthusiasticAs commented on #482
yes, will do. I put it as a note.

[2020-05-23 15:10] ondertitels commented on #206
I can help with dutch translations :)

[2020-05-23 16:47] TheEnthusiasticAs commented on #206
@ondertitels nice to hear it. Hitchcott is working currently on the updating the walk-through for the translation. As soon as it is finished, it will be announced here and you can start with translations. The site got many content & structure updates )

[2020-05-26 13:28] hitchcott commented on #267
I'm closing this issue now as we're pretty much wrapped up on english other than news updates.

[2020-05-26 13:28] #267 closed

[2020-05-28 08:52] hitchcott opened #488 "Apply for Netlify Open Source"
Seems this project should quality.

Main benefit is that the hosting team can have infinite members.

https://www.netlify.com/legal/open-source-policy/

[2020-05-30 13:23] TheEnthusiasticAs commented on #482
See closed PR #483

[2020-05-30 13:23] #482 closed

[2020-06-06 17:21] TheEnthusiasticAs commented on #206
Hello everyone!

Chris and other participants updated the contents and the structure of the website. He also made another way to translate the website. It is now one file on github, which should only now be translated. More details are here: https://github.com/ethereumclassic/ethereumclassic.github.io.

[2020-06-09 19:24] rzel opened #498 "Request to be added to your list of Ethereum Classic supporting exchanges"
We are an exchange that is fully invested in supporting Ethereum Classic currency. We would really appreciate if you could add us to your list of exchanges that support Ethereum Classic. You can find us at https://bitni.com.

Is this possible?

Thanks
Rob

https://bitni.com
contact@bitni.com

[2020-06-09 19:40] TheEnthusiasticAs commented on #498
hey @rzel. Welcome! I opened a PR #499 for adding your exchange.

[2020-06-09 21:20] rzel commented on #498
Thank You!

[2020-06-13 12:30] gitr0n1n commented on #498
Successfully Merged PR https://github.com/ethereumclassic/ethereumclassic.github.io/pull/499

This issue was addressed and can be closed. See live changes here:
https://ethereumclassic.org/ecosystem/exchanges

Thanks for reaching out @rzel . Glad to learn of long term support for ETC.

[2020-06-13 12:30] #498 closed

[2020-07-08 19:43] TheEnthusiasticAs commented on #206
Hi Everyone! Chris updated the babel with the current site version: https://github.com/ethereumclassic/ethereumclassic.github.io. Please fork it again and translate! Thank You!

[2020-07-12 16:33] w1g0 commented on #206
Hello! Since this week I started translating into the Dutch language ;)

[2020-07-12 19:49] TheEnthusiasticAs commented on #206
Hi! There is a detailed guide: https://github.com/ethereumclassic/ethereumclassic.github.io/blob/babel/docs/translate.md

[2020-07-13 18:44] TheEnthusiasticAs opened #517 "A bug on the News Page?"
![image](https://user-images.githubusercontent.com/48069525/87341193-7ab22080-c549-11ea-844a-e30bfc93e211.png)

[2020-07-13 19:13] gitr0n1n commented on #517
This appears to be related to your PRs from the recently added news articles. You created a new undefined category called "hard forks" instead of using the call "hardfork". I also see you used "annoucements" instead of "annoucement".

All those currency analytics articles you had added @TheEnthusiasticAs

[2020-07-13 21:00] TheEnthusiasticAs commented on #517
Thx @gitr0n1n , I saw one more. I will correct by myself tommorow.

[2020-07-13 21:42] gitr0n1n commented on #517
Refreshed the site and observed that the issue is now fixed with the merging of https://github.com/ethereumclassic/ethereumclassic.github.io/pull/518

[2020-07-13 21:42] #517 closed

[2020-07-26 08:56] hitchcott opened #525 "Add "experimental" or "new project" disclaimer to clients"

[2020-07-26 15:50] hitchcott opened #528 "Add a button on the timeline to scroll to the latest update"

[2020-07-26 16:18] #251 closed

[2020-07-27 06:01] hitchcott opened #530 "Add ETC icon for general use"
Enable the etc icon to be used as if it's a font awesome entry; see

https://github.com/ethereumclassic/ethereumclassic.github.io/pull/529#discussion_r460662858_

[2020-07-27 15:40] hitchcott opened #532 "Add depcreated clients"
Make it clear these are older clients that are only supported up to X relase.

Discussed here: #531

[2020-07-27 16:49] hitchcott commented on #445
Given that we have the tags, do we actually need to do anything more here?

@gitr0n1n @TheEnthusiasticAs

[2020-07-27 17:34] #238 closed

[2020-07-27 17:44] #525 closed

[2020-07-27 17:44] #528 closed

[2020-07-27 17:44] #530 closed

[2020-07-27 17:45] hitchcott commented on #451
This is actually already built in to the build logs

e.g. https://app.netlify.com/sites/ethereumclassic/deploys/5f1d97c1ef82cc0007fb2206

[2020-07-27 17:45] #451 closed

[2020-07-27 17:45] #245 closed

[2020-07-27 17:46] hitchcott commented on #303
https://github.com/ethereumclassic/ethereumclassic.github.io/blob/babel/docs/translate.md

[2020-07-27 17:48] gitr0n1n commented on #445
No i think its great as is. I'm okay with thi issue being closed.

[2020-07-27 17:57] TheEnthusiasticAs commented on #445
me as well. cc @stevanlohja

[2020-07-27 18:54] hitchcott commented on #445
Cool, let me know if this should be re-opened.

[2020-07-27 18:54] #445 closed

[2020-07-28 13:56] hitchcott opened #534 "Change warning to recommend switching to a new client"
Explain OpenEtheruem situation?? @TheEnthusiasticAs @gitr0n1n

[2020-07-28 14:11] gitr0n1n commented on #534
OE only have ETc support in v 3.0.1

Any other version in not compatible with the ETC network.

So 3.0.2 will not be compatible as they have dropped ETC support. Miners wishing for a node that support both ETC and ETH should consider moving to Core-Geth, Besu, or OpenETC

[2020-07-28 14:28] TheEnthusiasticAs commented on #534
The last supported version of the Multi-Geth for Agharta is v1.9.14. There is also an addition "... or higher...." on etcnodes' site. I am not a technical guy, so can't not say, whether the higher versions support ETC. The informations can be found here: https://github.com/multi-geth/multi-geth/releases.

![image](https://user-images.githubusercontent.com/48069525/88678522-d60a1400-d0ee-11ea-8806-

[2020-07-28 17:41] gitr0n1n commented on #534
Yeah so Multi-geth will have a range starting with 1.9.14 and ending with the release that officially deprecates ETC support.

OE will only have their 3.0.1 release that is compatible with Phoenix.

All LTS clients for ETC also support ETH so they should be suggested as an alerntive to the ETH only clients. Especially as OE has annouced intent to limit support to only the ETH EVM in the long term.

[2020-07-31 20:51] TheEnthusiasticAs opened #538 "The search engine is not searching on the News page"
Tested search keywords
![image](https://user-images.githubusercontent.com/48069525/89075956-a160bb80-d37f-11ea-9ede-25e385e21d36.png)
![image](https://user-images.githubusercontent.com/48069525/89076007-bb020300-d37f-11ea-8ab7-bd63c8068c0b.png)

[2020-08-01 07:48] hitchcott commented on #538
Thanks for this @TheEnthusiasticAs , the behaviour right now is to only check pages *within* the website (not extenral links).

I can change this to add links to external links from news section.

[2020-08-01 12:33] TheEnthusiasticAs commented on #538
This page counts to external links?
![image](https://user-images.githubusercontent.com/48069525/89101821-e62e3600-d403-11ea-8223-f173849e80c8.png)

If, so, yes, then please do it. It is helpful there as well. Thank you!

[2020-08-02 12:02] gitr0n1n commented on #380
We just had third party network health site that were supported by deprecated clients. IMO, we NEED network health monitoring on the website at this point. We can NOT rely on mining pools/exchanges as the sources of this information.

Due to not monitoring the network from each node and comparing that data, a 3k reorg was executed yesterday. So I believe this is an urgent task.

[2020-08-02 13:12] TheEnthusiasticAs commented on #380
I am for it

[2020-08-02 19:48] q9f commented on #380
I'll host one soon(tm)

[2020-08-04 05:46] IstoraMandiri opened #545 "Front Page Refresh"
To make it seem more alive!

[2020-08-04 05:48] hitchcott commented on #534
Covered in #544

[2020-08-04 05:48] #534 closed

[2020-08-04 20:58] gitr0n1n commented on #545
Yes the ETC Summit was 10 months ago. I think those are great comments and feedback on the needs of the frontpage. I'm excited to see what you come up with @hitchcott

[2020-08-04 21:01] gitr0n1n commented on #304
It appears this issue was completed and can be closed. Here are the links for review.

Manifesto: https://ethereumclassic.org/blog/2016-07-11-crypto-decentralist-manifesto

Declaration: https://ethereumclassic.org/blog/2016-08-13-declaration-of-independence

[2020-08-04 21:12] gitr0n1n commented on #357
I think the manual system is working pretty well at this point and think your concerns about automated input articles could be problematic after monitoring new feeds for the past 3 months. We would end up with a lot of spam in the articles.

I'm going to close this, because:
+ there is a great tagging system for articles
+ the export RSS feeds have been addressed and linked up to news aggregators

[2020-08-04 21:12] #357 closed

[2020-08-04 21:14] gitr0n1n commented on #337
I think we ended up addressing this with blog posts. We have a special RSS feed just for those posts.

[2020-08-04 21:15] gitr0n1n commented on #337
I believe these feeds got updated to Phoenix HF. At least the bigger ones like Blockfolio and Delta

[2020-08-04 21:16] gitr0n1n commented on #337
I'm going to close this as I think this topic has been solved with the blog post RSS feed and the Articles RSS feed, also there is an ALL rss feed for another wanting to link into both of these feeds.

[2020-08-04 21:16] #337 closed

[2020-08-04 21:19] gitr0n1n commented on #532
I think after this week we probably want to move away from all deprecated clients and keep the clients page to RECOMMENDED only clients so the hashrate is landing on secure LTS software. Do you tihnk we can close this one @TheEnthusiasticAs and @hitchcott ?

[2020-08-04 21:22] gitr0n1n commented on #488
@hitchcott have you filled out this form yet?

[2020-08-04 22:01] TheEnthusiasticAs commented on #532
Yes, @gitr0n1n it can be closed and I agree with you fully.

[2020-08-05 04:08] gitr0n1n commented on #532
Sounds good. Closed.

[2020-08-05 04:08] #532 closed

[2020-08-05 10:37] hitchcott commented on #304
Whilst the english version is indeed a blog post, this issue is for the translated versions.

Those are still in PDFs linked at the top, and once those other languages are enabled, they should be converted.

[2020-08-05 10:40] hitchcott commented on #488
No not yet, I will do this shortly. But first we need to:

- Include a code of conduct
- Add a "This site is powered by Netlify" link on the footer

I'll do this during the next round of updates.

[2020-08-05 14:25] gitr0n1n commented on #304
ah i see. my bad, i thought we have an auto translator

[2020-08-05 14:41] TheEnthusiasticAs commented on #304
The auto-translator delivers sometimes illogical translations

[2020-08-06 15:41] TheEnthusiasticAs commented on #442
closing as the PR was merged: #547

[2020-08-06 15:41] #442 closed

[2020-08-06 18:04] hitchcott opened #549 "Fade out OpenETC?"
On the teams page, OpenETC is listed as active, is it?

[2020-08-06 18:08] ondertitels commented on #549
OpenETC is not active anymore. You might want to change the font in the search bar to the same font on the website + uppercase 👍

[2020-08-06 18:09] TheEnthusiasticAs commented on #549
opening a PR for the deleting

[2020-08-07 03:32] gitr0n1n commented on #549
Merged. https://github.com/ethereumclassic/ethereumclassic.github.io/pull/550

[2020-08-07 03:32] #549 closed

[2020-08-11 16:02] gitr0n1n opened #556 "Draft: Create a Treasury FAQ for Easy Understanding"
As we learn the deep mechanics of the Treasury proposal. Can we aggregate an FAQ that will be easy for the less informed to learn about this development? Let's aggregate the details here and we can draft up a subsection to add to https://ethereumclassic.org/knowledge/faqs

[2020-08-11 16:27] TheEnthusiasticAs commented on #556
If it get a rough consensus, yes, the FAQ can be put there

[2020-08-12 20:08] hitchcott opened #560 "Duplicate Blog Entry"
https://ethereumclassic.org/blog

Seems there are two URLS

https://ethereumclassic.org/blog/2020-08-28-core-devs-call-2020-Q3-Hardfork-Evaluation-Consensus-Finding
https://ethereumclassic.org/blog/2020-08-20-core-devs-call-2020-Q3-Hardfork-Proposal-Gathering

Please let me know which one needs deleting.

[2020-08-12 20:25] TheEnthusiasticAs commented on #560
cc @gitr0n1n

[2020-08-12 20:55] TheEnthusiasticAs commented on #560
they are both different @hitchcott
https://github.com/ethereumclassic/ECIPs/issues/333

[2020-08-13 11:15] hitchcott commented on #560
Okay, my bad sorry

[2020-08-13 11:15] #560 closed

[2020-08-24 20:08] padenmoss opened #566 "Add ECIP-1092 to Core ECIP Draft list"
Please add https://github.com/ethereumclassic/ECIPs/issues/327 as ECIP-1092 to Core ECIP Draft list

Number; 1092
Title: Mining Penalty for Deep Reorganization
Author: @Dexaran

(See issue 327 for ECIP body)

[2020-08-24 20:33] developerkevin commented on #566
ECIPs are proposed under Pull Requests of the ECIP Repo and Dex's proposal has been given the "Core" label. https://github.com/ethereumclassic/ECIPs/pull/328

[2020-08-24 20:35] padenmoss commented on #566
The "Core" label already being designated, yet I do not see ECIP-1092 listed at https://ecips.ethereumclassic.org/core

[2020-08-24 20:49] developerkevin commented on #566
Yes there are still a few that need to be added onto the ecips site.

[2020-08-28 13:35] q9f commented on #566
It's fixed.

[2020-08-28 13:35] #566 closed

[2020-09-02 02:15] XoxoPH commented on #206
I can help on Filipino translation

[2020-09-03 18:52] TheEnthusiasticAs commented on #206
@XoxoPH thank you! Please follow the guide posted by me above. If any questions appear, please ask

[2020-09-12 21:10] TheAquabat opened #578 "most of the instant exchanges named on the wiki don't take etc anymore"
most of the exchanges on this page

https://ethereumclassic.org/ecosystem/exchanges

don't take ETC anymore. Is this going to be fixed? I mean are 51% attacks going to stop? the wiki needs fixing.

[2020-09-12 21:11] TheAquabat commented on #578
of the ones I check the only instant that's working is ChangeNOW.

[2020-09-13 17:02] TheEnthusiasticAs commented on #578
closing this channel as it is not repo-related.

[2020-09-13 17:02] #578 closed

[2020-10-02 07:21] UlasLiteBit opened #584 "Add CEX"
Hi,

We have been trading ETC for a long time. Can our exchange be added to the CEX list?

Exchange name: LiteBit
Link: https://www.litebit.eu/en/buy/ethereumclassic

If any more information is needed, let me know. Thanks in advance!

[2020-10-02 17:16] TheEnthusiasticAs commented on #584
Hi @UlasLiteBit! No further infos are needed ;-). I pushed a PR for it. It will go through the approval process. At least two approvals are required.

[2020-10-02 18:12] TheEnthusiasticAs commented on #584
it is added now. I am closing this issue

[2020-10-02 18:12] #584 closed

[2020-10-17 08:37] TheEnthusiasticAs opened #591 "Development/contribute page + the blog pages: The red pop-up box and the ETC discord links weren't auto-updated"
Hi @hitchcott!

https://ethereumclassic.org/development/contribute:

1. Red pop-up box: Contains the old infos and wasn't auto-updated as on the other pages (tested on several browsers and empted the cache, too)
![image](https://user-images.githubusercontent.com/48069525/96332295-55124700-1063-11eb-89e8-4683b897194d.png)

2. The ETC discord link on the end of the main page content, the blue one at

[2020-10-17 23:08] gitr0n1n commented on #591
interesting, I see the update in the preview of your most recent PR @TheEnthusiasticAs . Hopefully it self corrects when that PR is approved.

[2020-10-18 07:31] TheEnthusiasticAs commented on #591
I still have the issues @gitr0n1n. I opened the directory in Edge browser.
![image](https://user-images.githubusercontent.com/48069525/96361252-68d1b200-1124-11eb-810a-c66d586f539d.png)

[2020-10-19 17:47] gitr0n1n commented on #591
On the preview I see it's undated via Brave browser. I recommend clearing your cache.
![Untitled](https://user-images.githubusercontent.com/58588775/96492401-d226f300-1200-11eb-8b85-fa627a37c785.png)

[2020-10-19 18:02] gitr0n1n commented on #591
This appears live on the main site for me. @TheEnthusiasticAs So you can likely close this issue.

![Untitled](https://user-images.githubusercontent.com/58588775/96493875-c9cfb780-1202-11eb-82f2-ab1df9cd708e.png)

[2020-10-19 18:07] TheEnthusiasticAs commented on #591
@gitr0n1n now pls go to this page: https://ethereumclassic.org/development/contribute. There is another content in the red box. Dito for the etc discord links there

[2020-10-20 09:08] gitr0n1n commented on #591
Oh i see! yes I see the different box on that sepcific link.

[2020-10-31 10:57] TheEnthusiasticAs commented on #591
I noticed the same on blog pages. One is even from August:
_https://ethereumclassic.org/blog/2020-09-11-core-devs-call-ecip-1043-1049-1099-qa_
![image](https://user-images.githubusercontent.com/48069525/97777358-f6bf8b00-1b6f-11eb-8707-5e66e32c61d7.png)
https://ethereumclassic.org/blog/2020-10-02-core-devs-call-15-ecip-1049-keccak-breakout-session
![image](https://user-images.githubusercontent.com

[2020-11-02 12:55] hitchcott commented on #591
Triggered a cache-busting rebuild and it seems to have fixed this.

Please confirm / close this issue if it has.

[2020-11-02 18:03] TheEnthusiasticAs commented on #591
Confirming, the issue was solved. Here an evidence. One from the contribute page:
![image](https://user-images.githubusercontent.com/48069525/97902493-fecd2580-1d3d-11eb-822e-16daa6abc7ed.png)

Thx hitchcott

[2020-11-02 18:03] #591 closed

[2020-11-27 18:09] gitr0n1n opened #608 "DAG Monitor"
@hitchcott thoughts on a DAG countdown clock for when ETH cards will need to migrte to ETC and then when card will be obsoleted on ETC

Example: after Thanos a Countdown for 4GB and 6GB becoming obsolete on ETH DAG. And a countdown for 3GB becoming obslete on ETC

[2020-11-27 18:10] gitr0n1n opened #609 "Screen Cap Walk Through Video for Guides"
Make some Walk Through language-agnoistic videos for GPU miners. Should help with all the new miners from Etchash

[2020-11-27 18:11] gitr0n1n opened #610 "Add Filtering Option to the Guides and Tools pages"
I was looking at the Guides section. It's getting pretty long and cluttered. Do you think you could setup something like the news articles, where we have a filter by topics? Exmaple: "Mining" "Development" "Tools" "Configuartions"? @hitchcott

[2020-12-09 10:47] tncsource opened #619 "how to enable testnet"
hi everyone please let me know how to enable testnet ETC and i want to get faucet testnet coins for ETC so please give me any site or any way to i can get coins thank you

[2020-12-09 19:03] TheEnthusiasticAs commented on #619
hi. You are asking in the inappropriate repo. It is here for the website developments. Please ask here: https://github.com/ethereumclassic/ECIPs/. I am closing it here.

[2020-12-09 19:03] #619 closed

[2020-12-12 19:15] TheEnthusiasticAs commented on #545
an comment from @wpwrak to the updated front page from discord:
_hmm, what exactly changed ? the first page now looks a lot more relevant than it did a while ago, so that's good. the left-hand side could benefit from a clearer indication that there's more below. maybe "More", down arrows, or both ? a problem with this kind of vast empty space design is that one can easily overlook that there's als

[2020-12-13 04:35] hitchcott commented on #545
Thanks @TheEnthusiasticAs but I'm having trouble interpreting that comment - perhaps some more visual feedback would help clear things up?

[2020-12-13 11:44] TheEnthusiasticAs commented on #545
Yes, here in my example all three elementes - 2 arrows on the page flanks and a "More" text should scroll the page down with a click:
![image](https://user-images.githubusercontent.com/48069525/102010726-40d78700-3d40-11eb-97b2-3994a5243568.png)

The opposite is the same. When you are on the bottom of the page, the arrows should direct to the top

[2020-12-14 18:19] wpwrak commented on #545
Yes, that's the place I meant. Right now, it can be easily be mistaken for being purely decorative.
Also, looking further down, shouldn't the line continue above "Participants" ?

[2020-12-26 23:06] ArgentoVacquero opened #624 "Stuck transaction"
Assuming I used too low fee for 12-22 transaction from my Ledger though I used the Ledger default at the time (0.0001575 ETC)  The transaction isn't even showing as pending in ETC Explorer.  Any suggestions about how to reverse this txn or add more ETC to allow it to go through?

[2021-01-02 05:27] hitchcott commented on #488
This is now accepted and we are using the Teams hosting.

LMK if anyone wants an invite.

[2021-01-02 05:27] #488 closed

[2021-02-19 19:21] nargotik opened #630 "Repeated news"
https://github.com/ethereumclassic/ethereumclassic.github.io/blob/de3d1417126938c89b2eec87cc42441a6ab05c66/content/news/media/media.collection.en.yaml#L51

[2021-02-19 19:21] #630 closed

[2021-02-20 07:24] #624 closed

[2021-04-15 02:46] ProphetDaniel opened #637 "Can any current admin or repository owner provide me answers for these?"
I reached out to Github to understand the case

And I was answered:

[2021-04-15 02:50] ProphetDaniel commented on #637
We decided to keep on the original chain for this very same reason.

Now we had a situation like this opposed to one of the core principles we fought hard for stablishing.

[2021-04-16 03:50] hitchcott commented on #637
Hi @ProphetDaniel

Your contributions on the old were not lost - we archived the old version for record:

https://github.com/ethereumclassic/ethereumclassic.github.io-v1

[2021-04-19 16:42] ProphetDaniel commented on #637
Dear @hitchcott, I remember @dax-classic overwrote many of my commits when the first Gatsby version was launched can you ask for GitHub the logs of that rewrite operation?

[2021-04-22 10:53] hitchcott commented on #637
@ProphetDaniel

I can see commits from you in that repo from 27th July 2016, which was only a week after the ETC hard fork.

Are older commits missing?

https://github.com/ethereumclassic/ethereumclassic.github.io-v1/commits/gh-pages

[2021-04-24 21:18] vn1752052 commented on #609
Ok

[2021-04-30 16:51] Jaska8 opened #639 "Invalid SSL certificate"
Main site has been inaccessible for few days now due Invalid SSL cert.

[2021-05-01 05:09] gitr0n1n commented on #639
@hitchcott Let me know if we need to migrate the website to the community's EthereumClassic.com if DFG is not maintaining EthereumClassic.org . Feel free to ping.

[2021-05-01 16:30] realcodywburns commented on #639
you need to update the cname on the .com to point to the netlify site.

[2021-05-01 22:25] gitr0n1n commented on #639
@TheEnthusiasticAs @bobsummerwill @hitchcott @realcodywburns

It' my understanding there is an emotional meltdown happening with the usual suspects in Discord. @developerkevin banned my discord account a few months back when we didn't agree on ECIP-1047. Feel free to ping me on github if you guys would like to migrate the ethereumclassic.github.io to the EthereumClassic.com domain. @hitchcott and

[2021-05-02 01:52] ProphetDaniel commented on #637
GitHub is able to provide evidences in this regard.

One repository owner has to ask for the information, though.
I had many commits to the repository then there was a merge which overwrote history by @dax-classic.
Can you provide me with the logs GitHub provides?

[2021-05-02 04:59] bobsummerwill commented on #639
Hey @gitr0n1n,

I have been trying to troubleshoot today and spoke to Terry this afternoon.
They have a new SSL certificate.
We just need to work out the "plumbing", which looks like it includes CloudFlare, as well as the DNS and Netlify settings.
There is no malicious anything here, just the SSL screw up and then spaghetti to tie back together.

@hitchcott If you see this, please could you drop m

[2021-05-03 13:36] hitchcott commented on #637
Hi @ProphetDaniel can you provide more details about which merge this was?

As mentioned, as far as I can tell all the commits made to both versions were preserved in various branches, and were not disappeared.

If you can provide a specific commit that you know for sure is missing then that would help figure out what happened.

[2021-05-03 13:37] hitchcott commented on #639
@bobsummerwill email sent

[2021-05-03 13:40] hitchcott commented on #639
With regards to migrating domains, if this is something we have consensus on then I'm happy to help.

It will be no small feat though, and we would ideally need to maintain the old `.org` address for redirects indefinitely.

I would really only support migrating to `.com` if it's critical.

[2021-05-03 19:47] developerkevin commented on #639
@gitr0n1n , I think we should keep the discussion in here about what's happening in here. However I feel I should address your allegation—I  never did any such thing. People often disagree strongly with each other, but I don't believe that makes it right for one party with privileges to think about removing someone forever. In all honesty, I try only banning scammers spamming links, use the timeou

[2021-05-04 03:19] gitr0n1n commented on #639
To be clear @hitchcott it was the community in discord #general that were petitioning for the migration from the .org to the .com. I was pinged about it in DM. I don't really care what you guys decide, I was just letting you know I'm available to help out if you guys need me. I was given these domains as a good steward by Cody. I didn't request them. I'm happy to set aside some time to work on thi

[2021-05-04 16:03] ProphetDaniel commented on #637
What is stopping you form asking for GitHub logs? For a reason my contributions to the repository were deleted. See this: https://github.com/ethereumclassic/ethereumclassic.github.io-v1/graphs/contributors

[2021-05-17 09:31] #639 closed

[2021-05-17 09:31] gitr0n1n commented on #639
This appears to be resolved.

[2021-05-18 12:47] TheEnthusiasticAs commented on #639
yes, it can be closed @gitr0n1n

[2021-05-20 00:20] hitchcott commented on #637
Okay, I think I understand what's going on now.

It's not that your commits aren't showing up or that your contributions were deleted; your account isn't appearing on the ranking of contributions page.

You are appearing in the _contributions sidebar_ in that repo, just not on the main page, which makes me think...

![image](https://user-images.githubusercontent.com/1696942/118900029-40b86480-b93a

[2021-05-20 00:30] hitchcott commented on #637
Btw it seems you can add multiple emails to your github account, have you tried this? https://github.blog/2008-02-28-multiple-emails/

[2021-05-20 00:33] hitchcott commented on #637
I also found this https://docs.github.com/en/github/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile

Please can you check that and make sure it's all as expected?

[2021-05-20 02:05] hitchcott opened #643 "Use archived links sitewide"
Inevitably, some of the links being used around on the site (particularly, the slockit blog posts about hard fork) have been removed, so we should use archived links for these instead.

Rather than updating the links themselves we can do sitewide or section wide replacements automatically to some archive service such as wayback machine or archive.is.

Some of the links however are unfortunately no

[2021-05-20 17:51] gitr0n1n commented on #643
Good point. Anyway we can queue a link to be archived?

Link Submitted -> Website Archives It via a service -> Website posts link to Archive

This really only matters for historical links. As other sections, we would want the dead link removed.

[2021-05-23 15:28] TheEnthusiasticAs commented on #643
I would't remove the invalid link contents and instead search for the archived links/contents.

There is an archived ethereum classic forum, where is explained the "send ether to ETC address": https://forum.ethereumclassicforum.com/t/ive-sent-my-etc-eth-to-the-wrong-address-on-the-wrong-network/1148

[2021-06-18 10:30] vn1752052 opened #646 "0xabca35e8b3e65f48e11ff38d3608c101feb3114b"
0xabca35e8b3e65f48e11ff38d3608c101feb3114b

__Originally posted by @vn1752052 in https://github.com/ethereumclassic/ethereumclassic.github.io/pull/645#discussion_r654322071__

[2021-06-18 10:51] vn1752052 commented on #646
U

[2021-06-21 08:03] Bitlive-pro opened #647 "Add Bitlive to exchanges list"
URL: https://bitlive.pro/
Tag: Instant

[2021-06-22 10:08] Ethereum-Classic-Bitlive opened #648 "Add Bitlive.pro to exchange list"
Hello
Our non-custodial exchange service provides our customers with the ability to exchange cryptocurrencies in over 90,000 exchange pairs.

Our service allows customers to exchange Ethereum Classic cryptocurrency to more than 250 cryptocurrencies, we provide the most favorable exchange rate, and minimal exchange fees.

We would like to suggest that you place a mention for Ethereum Classic crypto

[2021-06-28 13:47] #646 closed

[2021-06-28 13:47] realcodywburns commented on #646
Closing due to lack of information or activity

[2021-07-02 11:02] jatin-pahuja opened #649 "Link broken on the main website"
[The IOHK link on the participants section of the homepage is broken and shows a 404 error](https://iohk.io/projects/ethereum-classic/)

[2021-07-02 13:57] drospa commented on #649
IOHK website changed. There isn't a section for the Mantis team now. We can reference this https://iohk.io/en/technology/ or directly https://mantisclient.io/

[2021-07-03 12:58] TheEnthusiasticAs commented on #649
I opened the PR #650 to update several IOHK references on the website. Thx for the heading up to it

[2021-07-07 07:46] IstoraMandiri opened #651 "Add Redirects for RSS feeds"
As we can see from the last month traffic stats, there are crawlers attempting to get the RSS feeds on `/feed`, `/feeds` and `/rss`, so we should redirect them to `https://ethereumclassic.org/rss.xml`

![image](https://user-images.githubusercontent.com/1696942/124720103-fb73e480-df31-11eb-8290-fc2881003fcc.png)

[2021-07-07 07:48] #649 closed

[2021-07-08 21:01] ProphetDaniel commented on #637
I don't have this email anylonger: `prophetdaniel at ethereumclassic.org`

Good reason to access them is history rewrite suspicion.

I just added the email I had `prophetdaniel at ethereumclassic.org`. But I cannot access that mailbox anymore in order to verify it.

Let me check this with GitHub....

[2021-07-08 21:09] ProphetDaniel commented on #637
After adding as a secondary email it now looks alright...

![Imgur](https://i.imgur.com/AZN5YV6.png)

[2021-07-08 21:31] ProphetDaniel commented on #637
Now the only missing piece of the Puzzle is the disappeared commits before Dax Classic overwrite.

[2021-07-12 18:06] vn1752052 opened #652 "0x996350199131D6de11323b804D9fbBABB752d851"
0x996350199131D6de11323b804D9fbBABB752d851  ethe ..kkm.kkkk i love you .. thank very much all ..

[2021-07-29 14:00] taki-183 opened #653 "Add Trustee Wallet to SOFTWARE WALLETS"
Hi!
It is a Trustee Wallet team.
We have added a Etherem Classic to our wallet, so please place a link to our application in the SOFTWARE WALLETS section of your website.

Name: Trustee Wallet
Site: https://trusteeglobal.com
GitHub: https://github.com/trustee-wallet

[2021-07-30 12:43] w1g0 opened #654 "Better search function"
-Firstly, can the search function be integrated at the top of the pages in stead of linked with the hamburger menu, even with a dropdown mouseover if one deems that 'cleaner'.

-Secondly, can the search function go wider? For example the 'block explorers' can't be found.

-Third, it would be great to be able to link to the mid of a page using the #
e.g. https://ethereumclassic.org/development/netw

[2021-07-31 16:29] TheEnthusiasticAs commented on #653
I opened the PR #655

[2021-08-01 09:46] taki-183 commented on #653
Thanks

[2021-08-02 09:53] hitchcott commented on #654
Thanks @w1g0 , these are good suggestions.

As for 3 - this is already the case -- https://ethereumclassic.org/development/network-resources#blockchain-explorers

You can inspect element and check next to the header for the ID, but it should be lowercase with dashes

[2021-08-30 23:07] #653 closed

[2021-08-31 12:25] Stephen0531 opened #658 "Need help"
I don't understand and rally could use some help I'm new at this and I'm so confused

[2021-08-31 14:31] w1g0 commented on #658
The content of your message will leave more people confused if you're not more precise in what it is exactly you're confused about.

[2021-08-31 19:15] brolal opened #659 "Node - ]"

[2021-08-31 19:16] #659 closed

[2021-09-30 15:55] yespc3114 opened #667 "I want to find hacked ETC"
In the process of sending ETC, the deposit address was changed by malicious code, and ETC was sent to the hacker.
This is a LITECOIN that I bought with difficulty. Help.
Also, please suspend the ETC wallet address of the hacker so as not to harm others. I sincerely hope this helps in finding my ETC.
I want to find hacked ETC
If the law enforcement agency requests the hacker's information, can you

[2021-10-05 06:19] #658 closed

[2021-10-15 12:11] IstoraMandiri opened #675 "Remove Apps and Protocols Section"
As ETC prepares for it's next stage of explosive growth, I think it's a good idea for us to remove the Apps and Protocols http://ethereumclassic.org/ecosystem/apps-and-protocols section, as it will be increasingly likely that scams and otherwise grey area projects get listed, and moderation would be potentially biased or conflicting.

It is also always out of date and difficult to tell when projec

[2021-10-15 12:32] w1g0 commented on #675
An external list would be a good solution, another idea would be to create an automatic mailing list to ask if projects are active once listed.

[2021-10-15 22:26] gitr0n1n commented on #675
No Objections from me. I agree about the risk you hightlight.

[2021-10-15 22:28] gitr0n1n commented on #380
i think we can close this now that there is http://ethereumclassic.net and http://ethclassic.net monitor dashboards.

Unless we intend to host one inside of this repo itself. Thoughts @hitchcott @TheEnthusiasticAs @w1g0 and others?

[2021-10-15 22:45] w1g0 commented on #380
Hosting in this repository and linking the dashboard to the website sounds like a decentralized idea.

[2021-10-16 18:22] TheEnthusiasticAs commented on #675
Yes, the risk is there. Let's disable that section. But to link to some external dapps list is just shifting the issue. The problem will still be there.

[2021-10-16 18:38] w1g0 commented on #675
It's good for now but we need a solution for the midterm, without links in the future is a safe option but it seems odd to me.

[2021-10-18 02:22] hitchcott commented on #556
Can we close this?

[2021-10-18 02:25] IstoraMandiri opened #678 "FAQ Bot"
Rather than having to search through questions, it was suggested to make a chat bot type interface that can help newbiews answer querstions (perhaps with an ETC version of clippy)

[2021-10-18 02:27] hitchcott opened #679 "Redesign"
A new lick of paint

[2021-10-18 02:29] IstoraMandiri opened #680 "Content and Structure Review"

[2021-10-18 15:01] w1g0 commented on #675
If you allow me to freestyle here, I was thinking of a review system that let's community members (at least with Discord 'supporter' role for example) test before listing and comment once listed on the dApp webpage without any responsibility and the necessary disclaimers.

[2021-10-19 20:46] w1g0 commented on #675
That sounds like a good idea.

The Discord supporter role was merely a random example of verification. A forum member with a certain amount of helpful posts would be another.

When you speak of spending ETC to review it sounds like a dApp and I'm not sure it is helpful to link a wallet address to a identity even if it were pseudonymous.

[2021-10-20 06:47] #556 closed

[2021-10-20 21:50] brolal opened #681 "Blog Post Ideas"
The blog page has a lot of view and maybe it need an update with the following information:
1. Magneto hard fork
2. The new ETC Node Explorer interface
3. Ethereum Classic Trust becoming SEC reporting
4. Tha fact that ETC hasn't had any 51% attacks in more then a year / network safu

[2021-10-20 22:15] brolal opened #682 "Development Guides"
1. The video from https://ethereumclassic.org/development/guides "Setup MetaMask for Ethereum Classic" doesn't work - maybe make a new vid - I can help
2. Hitchhikers Guide to Smart Contracts - very old blog post / maybe something newer
3. https://medium.com/@ConsenSys/a-101-noob-intro-to-programming-smart-contracts-on-ethereum-695d15c1dab4 - very old
4. https://openethereum.github.io/wiki/Dapp-Tu

[2021-10-20 22:27] brolal opened #683 "Clients page"
1. Maybe update the text about the Core Geth version with 1.12.1 (the version without the fork-bug)
2. Remove Mantis Client / or mention just the github repo as "in development" / the work that Charles Hoskinson never finish - may tell users not test it with real coins.
3. blockscout api - ded link

[2021-10-22 10:37] pray2008 opened #684 "what is the exactly github site for ETC?"
I tried to find the code team and the etheruem classic protocal repository, but I could not.

Hard work pays off, I finally find https://etclabs.org/ and find most of the ETC repositories here: https://github.com/etclabscore

Why don't you update the ETC official website links of github to https://github.com/etclabscore?

And why don't you add ETC lab link on the website?

Thank you!!

[2021-10-26 07:58] IstoraMandiri opened #685 "Show contributors in page content"
To give tribute and encourage contribution, at the end of each article or section, we could include information on who contributed

[2021-11-02 05:06] IstoraMandiri opened #686 "Localization Library"
In the next version, integrate Lingui (or similar), a recently officially supported gatsby theme, which standardizes i18n and opens up support for https://translation.io/

https://github.com/gatsbyjs/themes/tree/master/packages/gatsby-theme-i18n-lingui

[2021-11-03 01:13] IstoraMandiri opened #687 "ETC vs ETH"
Related to #680

From discord

[2021-11-03 08:13] IstoraMandiri commented on #680
https://messari.io/asset/ethereum-classic/charts

[2021-11-03 10:04] IstoraMandiri commented on #678
Closing in favor of #654

[2021-11-03 10:04] #678 closed

[2021-11-03 10:05] IstoraMandiri commented on #417
@gitr0n1n do you know where I can find these videos?

[2021-11-03 19:35] bobsummerwill commented on #417
So here's mine from ETHDenver 2020:
https://www.youtube.com/watch?v=yWX-GZAQxYA

Looks like there is a YouTube channel there where we might find some more too.

I spoke there in 2019 too, but it was not about ETC.

Not sure who else spoke at ETHDenver 2020.   Isaac, I think, spoke after me?   Not sure if Terry spoke too.

[2021-11-28 20:16] brolal opened #691 "Knowledge Base - page"
What is ETC / How do I get ETC?

- maybe add the reward program from Celsius Network, but with some clarification regarding "not you keys, not your coins"
- maybe add trading NFTs

[2021-11-28 21:07] brolal opened #692 "FAQS page"
FAQS

Ethereum Classic is a secure, censorship resistant, reliable, public, trustless and decentralized platform for running applications - since this are core attributes of the network, maybe a small explanation is needs for every term

maybe add a TED for decentralisation https://www.youtube.com/watch?v=AmQyJoTdnwo

maybe there is a place for this video as well https://www.youtube.com/watch?v=3v

[2021-11-30 14:02] IstoraMandiri commented on #675
To udpate this, I've removed apps from the front page once #693  gets merged.

But I'm still not sure about removing all the apps completely and linking to a remote site. I kind of like having at least somewhere to keep a reference of them, I just don't think they should be on the front page necessarily, and plenty of warnings needed.

But then there would be zero, or very minimal, moderation. Per

[2021-12-04 02:27] IstoraMandiri commented on #692
From discord:
I think there should be pages for

"Wen L2 solution"
"How is ETC funded"
"How will ETC handle new code updates once ETH moves to 2.0"

To reduce FUD

[2021-12-09 14:19] #675 closed

[2021-12-09 14:19] IstoraMandiri commented on #686
New version is restuctured to support Crowdin

[2021-12-09 14:19] #686 closed

[2021-12-09 14:21] IstoraMandiri commented on #675
New version implements apps in a way that makes it clear they are not vetted, with a big warning message.

They are also separated from the main news section so new apps don't clutter up important announcements

[2021-12-09 14:37] #477 closed

[2021-12-09 14:38] IstoraMandiri commented on #654
New version has AI powered agolia search, scraping content, with multiple categories

![image](https://user-images.githubusercontent.com/1696942/145416487-bb34fe45-ae31-4b32-8345-7d30653573cc.png)

[2021-12-09 14:38] #654 closed

[2021-12-09 14:38] #422 closed

[2021-12-09 14:42] IstoraMandiri commented on #538
Fixed in #654

[2021-12-09 14:42] #538 closed

[2021-12-09 14:43] IstoraMandiri commented on #399
Fixed in new version

[2021-12-09 14:43] #399 closed

[2021-12-09 14:44] #667 closed

[2021-12-18 05:46] IstoraMandiri commented on #680
Need to update timeline with magento

[2021-12-18 19:23] MrMarioMichel commented on #380
Hi I am the node operator behind [ethclassic.net](https://grafana.mariomichel.com/d/5S-6O8VZk/hyperledger-besu-node-at-ethereum-classic?orgId=1&refresh=5s) and wanted to know if some of you have more knowledge then me in docker. I would like to setup a [blockchain explorer]( https://github.com/xops/expedition) and also a [stats](https://besu.hyperledger.org/en/stable/HowTo/Deploy/Lite-Network-Moni

[2021-12-25 12:48] ClassicSavages opened #701 "Classic Savages"
Classic savages are missing from https://ethereumclassic.org/ecosystem/apps-and-protocols

the website is ClassicSavages.com and we are known as the first original nft project built on ETC by founder Savageprofits

[2021-12-27 23:32] #701 closed

[2022-01-27 20:48] gozames opened #717 "ETC PRICE SOURCES"
Hello,

https://ethereumclassic.org/ecosystem/exchanges at this page almost all stat sites.

Whats about to include coin lore also

Thanks

[2022-01-27 20:52] gitr0n1n commented on #717
Hi @gozames if you'd like to add an exchange to that list, please open an PR and drop that exchange in the list. It is organized by Alphabetical letter. When the PR is submitted, we'll give it a review and it the link checks out, the exchange will be added to the list. Please use the link that directs to the ETC/USDT market! Thanks Much!

[2022-01-28 10:35] IstoraMandiri commented on #717
@gitr0n1n please can we keep these open as long as it remains unresolved, so we can keep tabs on it

[2022-01-28 18:46] gitr0n1n commented on #717
Yeah, that seems like a good approach.

[2022-01-28 23:16] maxpatalec commented on #717
Hi,

https://github.com/ethereumclassic/ethereumclassic.github.io/pull/718

[2022-01-28 23:21] gitr0n1n commented on #717
Going to close now that a PR is submitted. Thanks!
re: https://github.com/ethereumclassic/ethereumclassic.github.io/pull/718

[2022-01-28 23:21] #717 closed

[2022-02-20 19:58] Lazydevcourt opened #728 "Add ETCLazylions.com to Apps and protocols"
Lazy Lions, is an exclusive 5,000 only mint-able premium NFT. No two pieces of these 5,000 digital assets are alike. Each being unique and pristine, there is an order of rarity that makes certain ones more valuable than the others. each Lazy Lion is inspired by its Ethereum counterpart.

[2022-02-28 03:10] IstoraMandiri opened #738 "Memes section (incorporate media kit)"

[2022-02-28 03:11] IstoraMandiri opened #739 "Turn inline videos into modals, and cache thumbnail"
Rather than embedding inline, the <Video /> component should use the pop up modal from youtube and cache the thumbnail so it doesn't make a request to youtube.

[2022-02-28 03:11] IstoraMandiri opened #740 "Prev/Next blog items"

[2022-02-28 03:12] IstoraMandiri opened #741 "Multiple RSS Feeds"
For each language, add an RSS feed for each type of content (Video, News, Apps, etc.)

[2022-02-28 03:13] IstoraMandiri opened #742 "Auto-hilight table of contents as you scroll"

[2022-02-28 03:14] IstoraMandiri opened #743 "IDEA: POAP NFT for contributors"

[2022-02-28 03:16] #545 closed

[2022-02-28 03:16] #680 closed

[2022-02-28 03:18] IstoraMandiri commented on #380
Now that we have https://ethereumclassic.org/network/monitors, do we really need a dedicated subdomain?

Otherwise, I would suggest getting one of those services and deply it under a subdomain.

But I think it's outside the scope of this website project.

@gitr0n1n

[2022-02-28 03:22] #683 closed

[2022-02-28 03:22] #687 closed

[2022-02-28 03:23] #378 closed

[2022-02-28 03:23] #684 closed

[2022-02-28 03:25] #651 closed

[2022-02-28 03:26] IstoraMandiri commented on #610
@gitr0n1n now that we have the new category and also a much improved search function, can we consider this solved?

[2022-02-28 03:27] #610 closed

[2022-02-28 03:34] IstoraMandiri opened #744 "Script to make adding videos/apps super easy"

[2022-02-28 03:35] IstoraMandiri opened #745 "Figure out collection localization format"

[2022-02-28 03:36] IstoraMandiri opened #746 "i18n 404s and redirects"

[2022-02-28 03:37] IstoraMandiri opened #747 "i18n cleanup/meta taks"
- Complete LODOs
- check all content keys are underscored correctly
- Add comment to all YAML files explaining format __
- Enable overlay for meta tags that are obvious for i18n editors

[2022-02-28 04:40] gitr0n1n commented on #380
I tihnk this is the sexiest thing out there right now: https://etclabscore.github.io/nodes-interface/

[2022-03-01 01:43] IstoraMandiri opened #749 "Add flexpool.io to pools"

[2022-03-01 02:35] IstoraMandiri opened #751 "Skip index to Algolia unless building on master ot speed up build"

[2022-03-01 03:22] IstoraMandiri opened #752 "NoScript optimisations"
Try to make things like apps and videos work as much as possible without javascript

[2022-03-01 03:27] IstoraMandiri opened #753 "Fancy social card generation with Lambda functions"
Investigate if this is possible

[2022-03-01 05:14] #749 closed

[2022-03-01 05:14] #751 closed

[2022-03-03 01:11] IstoraMandiri opened #757 "Script to automatically populate new videos from list a list of youtube channels"

[2022-03-03 21:01] gitr0n1n commented on #377
@IstoraMandiri here is a great example: https://etcis.money/

[2022-03-03 21:04] gitr0n1n commented on #407
Here is a nice metric display for ETC @IstoraMandiri.

Can we get something up like this for quick and trusted metrics?
https://grafana.mariomichel.com/d/5S-6O8VZk/hyperledger-besu-node-at-ethereum-classic?orgId=1&refresh=5s

[2022-03-03 21:06] gitr0n1n commented on #417
@IstoraMandiri these are likely hosted on ETHDenver now. So could just pull via your YouTube video setup on the videos list.

[2022-03-03 21:06] gitr0n1n commented on #608
Here is a nice metric display for ETC @IstoraMandiri.

Can we get something up like this for quick and trusted metrics?
https://grafana.mariomichel.com/d/5S-6O8VZk/hyperledger-besu-node-at-ethereum-classic?orgId=1&refresh=5s

[2022-03-03 21:07] gitr0n1n commented on #609
@brolal this might be good content for you to contribute given your video skills.

[2022-03-03 21:10] gitr0n1n commented on #744
Love the thought. Add with buttons on the website for the end user to enter the required fields. Once submitted, it auto populates a PR for approval in github.

You could do this same form field for Apps, Exchanges or any other dynamic list.

[2022-03-03 21:11] gitr0n1n commented on #757
Maybe auto-PR submission from a channel. Still should require review from two people.

[2022-03-04 01:21] IstoraMandiri commented on #608
@gitr0n1n

This, as well as your other requests for dashboards, is not something that's possible within the scope of this website project, as it requires a backend data layer, it is not just a statically generated frontend.

Please could you close those 4 issues and assign to a different project or team?

[2022-03-04 01:23] IstoraMandiri commented on #609
This is planned, but should wait until after the next update that includes i18n, which might change the structure and make current videos obsolete.

[2022-03-04 01:24] IstoraMandiri commented on #417
Please feel free to add a PR containing the videos, I have a bunch of tasks ahead in priority right now.

[2022-03-04 01:37] IstoraMandiri commented on #757
Yes, I was thinking on the lines of an offline script that can be run by me or other contributors periodically, as opposed to an automatic update.

[2022-03-05 03:25] #608 closed

[2022-03-05 03:26] #377 closed

[2022-03-05 03:27] #380 closed

[2022-03-05 03:27] #407 closed

[2022-03-06 05:36] IstoraMandiri commented on #744
https://www.netlifycms.org/docs/open-authoring/

[2022-03-07 21:04] djkj84 opened #762 "Request new pool added"
Hello,
Would it possible to add our pool to your listings please?

https://www.etcmining.club

Many thanks.

[2022-03-08 03:36] #685 closed

[2022-03-09 22:57] ClassicMedusa opened #763 "create an app"
Hey, we're a brand new nft project on ETC we would like to be on the ETC website to grow easily and provide our services as quickly as possible

could u add us on the app section as NFT?

-our twitter: medusa_classic
-our discord; https://discord.gg/AHaNhu4RDQ

[2022-03-13 06:32] TeamCyberCrypto commented on #747
Location settings? We will send a proposal.

[2022-03-14 09:44] IstoraMandiri commented on #763
Do you have a website?

[2022-03-15 03:38] #762 closed

[2022-03-18 15:27] Jamyye opened #766 "Mining"

[2022-03-18 15:27] #766 closed

[2022-03-18 15:41] Jamyye opened #767 "Mining Pool Updates"
Hi there,
Request is to update the list of mining pools. Some are broken links and I would like to add 2 others.

I checked these links myself, and ones that wouldn't open I then checked with isup.me to see if it was Geo filtered. I am based in USA

Broken to be removed:
https://etc.1stpool.org/
https://www2.coinmine.pl/etc/
https://www.coinotron.com/ (website active but notice that they are shutd

[2022-03-18 15:42] Jamyye commented on #767
Page is here: https://ethereumclassic.org/mining/pools

[2022-03-22 04:50] justjinn opened #768 "Add an area on the website for businesses that support/use the ETC blockchain"
Was looking over the site and realized businesses as, NOWPayments.io, some travel agency (don't remember the business name), and others are not on the site.

[2022-03-22 10:28] brolal commented on #768
yeah, good point. would be nice to have a dedicated page for businesses and merchants

[2022-03-25 16:26] Jamyye commented on #767
Update, pool.btc.com has added etc pool back - it should stay

[2022-03-25 18:08] gitr0n1n commented on #767
PR Submitted. Thanks for the open source contribution to Ethereum Classic.

[2022-03-25 18:08] #767 closed

[2022-03-26 19:21] IstoraMandiri opened #772 "Hebe Faucet"
Message to all developers planning to develop on #ETC or are developing already: for testing your smart contracts on the ETC Mordor testnet, you can get the $ETC test currency at https://easy.hebeswap.com/#/faucet

[2022-04-03 12:32] justjinn commented on #768
The travel company is Travala.com

[2022-04-03 13:08] brolal commented on #768
I think Classic Kevin knows most merchants on ETC

[2022-04-21 11:15] TheMisplacedPhilosopher opened #782 "Dead links on Wallets page of ethereumclassic.org website"
1. The link to Emerald wallet on the page https://ethereumclassic.org/services/wallets is no longer valid. The Emerald wallet is now located at https://emerald.cash/
2.  The Citowise website does not open. Have tried multiple times. No post on their Twitter page either. Maybe they are not providing wallet service anymore. Please investigate and remove the link.
3. HubrisOne wallet link does not wo

[2022-04-26 16:35] TheMisplacedPhilosopher commented on #782
These links are not working:
Saturn Wallet - https://www.saturn.network/blog/saturn-wallet-user-manual/
I tried Chrome webstore but that too does not work -
https://chrome.google.com/webstore/detail/saturn-wallet/nkddgncdjgjfcddamfgcmfnlhccnimig?hl=en

Citowise - https://citowise.com/

Hubrisone - https://www.hubrisone.com/ does not work but when I type https://hubrisone.com/ then it works.

[2022-04-27 14:25] gitr0n1n commented on #782
Addressed.

[2022-04-27 14:25] #782 closed

[2022-05-14 02:40] ClassicSavages opened #789 "ClassicArt display Under Latest applications"
Website Link is https://classicart.io

Classicart is the highest quality NFT Marketplace to come to Ethereum Classic. Allows buying and selling of all current projects on the blockchain as well as the ability to turn your artwork into an NFT. Created By youtuber Savageprofits who works to provide transparency on the ETC mainnet.

[2022-05-14 05:55] gitr0n1n commented on #789
@ClassicSavages Can you submit a PR for approval to add this to the website lists?

[2022-05-14 18:02] gitr0n1n commented on #789
nevermind, this PR was a bit more complex since we needed to add an NFT marketplace section. @ClassicSavages
https://github.com/ethereumclassic/ethereumclassic.github.io/pull/790

[2022-05-18 15:10] nicolegogo opened #793 "Please kindly help add Mixin in Software Wallets section"
Hi guys, I'm Nicole from Mixin.

Mixin wallet has supported ETC for quite a long time and would like to add to ETC website at Software Wallets section: http://ethereumclassic.org/services/wallets

Here is some of our info: https://mixin.one/messenger
https://mixin.space/
https://twitter.com/Mixin_Network

Appreciate the help and would like to contribute more to the community. Anything more needed,

[2022-05-19 17:02] #789 closed

[2022-05-19 17:03] gitr0n1n commented on #793
@nicolegogo Can you submit a PR for review to make this change?

[2022-05-20 03:36] nicolegogo commented on #793
Yeah, sure. Thank you.
https://github.com/ethereumclassic/ethereumclassic.github.io/pull/796/files

[2022-05-25 07:25] #793 closed

[2022-05-26 10:10] AMinaievRedEarth opened #797 "Add a link for new Guide"
Hello, please add this link https://tradingbrowser.com/best-crypto-swap-platforms/ to a guide page http://ethereumclassic.org/news/tag/guide

Thanks!

[2022-05-26 18:39] gitr0n1n commented on #797
I'm not sure this guide is in line with the content of the Ethereum Classic website. It appears to just be an affiliate link article for swap products.

This appears to be a form of affiliate marketing spam on its surface. I'm going to close the issue with this comment.

[2022-05-30 19:38] stonkaholics opened #798 "Is Ethereum Classic ETC Ready to Moon?"
`<iframe width="560" height="315" src="https://www.youtube.com/embed/Flqla2LDRYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`

[https://www.youtube.com/watch?v=Flqla2LDRYA]

[2022-05-30 19:45] stonkaholics commented on #798
Would love to have this added to the website to help push the project! Thanks for your time and your help

[2022-06-08 00:26] sylvaincloutier opened #801 "ETC Labs website down"
Under community - Teams, the etc labs website does not work. Is this team closed now?
https://etclabs.org/
![image](https://user-images.githubusercontent.com/63434273/172505899-52623098-aa93-4f9b-af94-5a8fed6f6555.png)

[2022-06-08 04:27] bobsummerwill commented on #801
Yes, they are gone.

[2022-06-27 22:32] IstoraMandiri opened #809 "Fallback for 404 images"
Recent build for #808 failed due to a 404 response from youtube, which in turn fails the build.

https://app.netlify.com/sites/ethereumclassic/deploys/62ae54fd15667e0008942b3c

Fix this by either filtering out items that don't have images (best if the video doesn't exist anymore), or build with a fallback image.

[2022-06-28 22:56] IstoraMandiri opened #811 "Button to auto-config Metamask"
Simple as:
[code]

[2022-07-28 09:33] GodCatHuSky opened #821 "An idea for mitigating 51% attacks"
At the time when Eth switches Pos, Etc may be considered as the best project to replace the traditional Pos proof, but if such a large amount of computing power is switched to Etc, then the possibility of Etc encountering a 51% attack is greatly improved. I have a The idea is to make the newly added computing power gradually release the newly added computing power according to the time curve to so

[2022-07-31 23:56] IstoraMandiri commented on #821
Thank you for contributing, but this repository is specifically for the ETC Website itself, not the Ethereum Classic protocol.

For protocol enhancement proposals, please refer to the https://github.com/ethereumclassic/ECIPs repository.

[2022-07-31 23:56] #821 closed

[2022-08-01 09:16] mp2023 opened #824 "Add an app to the website"
Would like to add an app to the page: https://ethereumclassic.org/services/apps.

[2022-08-03 23:05] IstoraMandiri commented on #824
Please could you provide the details?

[2022-08-04 02:01] mp2023 commented on #824
Hello,

I would like to add our app, Matrixport <https://www.matrixport.com/>to
this page: https://ethereumclassic.org/services/apps .

Can you let me know what information I can provide to you to be included on
this page?

Thanks,

<https://www.matrixport.com/>
<https://www.instagram.com/matrixport_/>
<https://www.youtube.com/channel/UCEn2AjmjhFAziCSG0IVS8iw/videos>
<https://twitter.com/realMatri

[2022-08-07 21:42] gitr0n1n commented on #801
Not associated with the community website Closing issue.

[2022-08-07 21:42] #801 closed

[2022-08-07 21:44] gitr0n1n commented on #798
Price Focused, Likely not in the interest of the site, we try to avoid adding the price speculation articles/videos that come out frequently to prevent the end user from having to scroll through content that isn't very relevant past that price prediction.

[2022-08-07 21:44] #798 closed

[2022-08-12 14:48] IstoraMandiri opened #827 "Add ClassicDAO"

[2022-08-12 15:50] StabeGa commented on #827
# - title: ClassicDAO
#   date: 2022-08-12
#   type: games
#   image: ./images/classicdao.jpg
#   author: StableGaralo
#   teamSite:http://classicdao.io/
#   links:
#     - name: Launch App
#       link: http://classicdao.io/
#     - name: Website
#       link: http://classicdao.io/
#       icon: home
#     - name: Github
#       link: https://github.com/Soteria-Smart-Contracts/ClassicDAO
#

[2022-08-13 04:55] Bitcoin3Og opened #828 "BitKeep protected your key."

[2022-08-15 00:38] Bitcoin3Og opened #830 "Remote Employees 1"
https://bentoforbusiness.com/lp05/remote-employees/?utm_source=google&utm_medium=cpc&bfb_medium=cpc&bfb_source=google&bfb_campaign=17392219094&bfb_adgroup=136744132465&bfb_network=g&bfb_device=t&bfb_term=gift%20cards&bfb_matchtype=b&bfb_placement=&bfb_content=601427431434&bfb_location=1017923&code=AR&gclid=Cj0KCQjwuuKXBhCRARIsAC-gM0g8C59BhfY5OdWpWFXPagEcmV6rLEzgPjRfEIiMMfqAEz0Xe-tiNpwaAjZGEALw_wcB

[2022-08-15 00:39] Bitcoin3Og commented on #830
integrations

[2022-08-15 01:46] Bitcoin3Og opened #831 "certain things that we’ve always believed to be true"
https://www.google.com/about/philosophy.html

[2022-08-15 01:47] Bitcoin3Og commented on #831
# `Attribution`

[2022-08-26 04:58] #828 closed

[2022-08-26 04:58] #830 closed

[2022-08-26 04:58] #831 closed

[2022-08-26 22:25] #827 closed

[2022-08-27 08:23] w1g0 commented on #824
@IstoraMandiri what more details are needed from @mp2023 to proceed with this issue?

[2022-08-27 08:28] w1g0 commented on #763
@ClassicMedusa ?

[2022-08-27 09:49] IstoraMandiri opened #844 "Create Mirrors"
radicle, gitlab, etc.

[2022-08-27 09:50] IstoraMandiri opened #845 "Host a version on the decentralized web"
IPFS, or whatever

[2022-08-27 09:53] IstoraMandiri opened #846 "Create an issue template for submitting content"

[2022-08-27 09:54] IstoraMandiri commented on #824
Sorry, I should be more specific in future for these kinds of requests and perhaps #846

For now, we need the details that can fill out something like this:

What is missing right now is type, description, etc.

[code]

[2022-08-27 09:57] w1g0 commented on #846
Excellent idea! 🔥

[2022-08-28 00:34] IstoraMandiri opened #848 "Add link for editing this page's specific content file at the bottom of each page."

[2022-08-28 00:38] IstoraMandiri opened #849 "Add ETC coop discord"

[2022-08-29 01:44] mp2023 commented on #824
- title: Matrixport
  date: 2022-08-29
  image: /images/matrixport.png
  author: Matrixport
  authorLink: https://www.matrixport.com/
  teamSite: https://www.matrixport.com/
  description: Matrixport is one of the world's largest and most trusted digital assets financial services ecosystem.
  type: other
  links:
    - name: Website
      link: ttps://www.matrixport.com/
      icon: home
    - nam

[2022-08-30 19:34] w1g0 opened #851 "Show trust score stars on app card"
Now we have to click on a dApp to see the trustscore. Can we have like a star rating on the right lower corner as in the image supplied?
![2022-08-30_21h21_22](https://user-images.githubusercontent.com/67763069/187526937-615a17db-e070-4a38-8ecd-f94793063036.png)

[2022-09-01 06:54] IstoraMandiri opened #854 "Add https://chainlist.org/en/chain/61"

[2022-09-01 07:05] IstoraMandiri opened #856 "Allow all services to be apps, rename"
Before the ecosystem didn't have many "proper" apps in terms of smart contract decetnralized applications.

As the ecosystem grows, the difference between smart contract dapps and other types of services like blockchain explorers becomes less clear, so we should just allow everything to be listed in the apps page and link perhaps to specific examples elsewhere.

Basically, we should update the "pl

[2022-09-01 07:16] IstoraMandiri opened #858 "In no-JS mode, make videos and apps open a pop-up"

[2022-09-02 07:54] ghost opened #862 "Deprecated Apps"
Should we delete deprecated Apps or move them to a deprecated section? Another option would be to make them greyed out on the current page and have a button to hide/displaying them. In this particular case I have 2 examples in mind: Commonwealth with their tribes game that I recently tested and no longer works and Celsius which have filed for bankruptcy and no longer offers full services. Share yo

[2022-09-02 09:33] w1g0 commented on #862
In addition nftcreed.io also seems to no longer support the ETC network upon connecting wallet to the website.

[2022-09-02 23:43] TheCrowbill commented on #862
In my opinion, moving deprecated dApps to a separate page would be the best option as it offers archival benefits. Deletion leaves unanswered any question someone may have who is aware of a dApp's existence but not it's deprecated status. The "greying out" option could lead to confusion and would definitely clutter up the active dApp listing.

[2022-09-03 13:58] w1g0 commented on #851
@IstoraMandiri, I would love to help with this but not sure how we can organize since I'm not that proficient in JavaScript. Any ideas?

[2022-09-04 13:56] OmniEdge commented on #862
Moving deprecated Dapps might be an never ending job. Its extremely dynamic and how often would the Dapp page be outdated? Might be more efficient to only present a curated list based on above 4 star trust score or another criteria for example....

[2022-09-04 14:52] w1g0 commented on #862
Would you delete deprecated dApps from the list or simply remove the stars from the trust score? Don't completely follow what the desired outcome is from your response.

[2022-09-06 16:16] brolal opened #868 "Update @eth_classic with @etc_network"
Remove the twitter account @eth_classic, owned by Charles Hoskinson, from the website.
Here, he attacks ETC and speaks about the twitter handler:
https://www.youtube.com/watch?v=03YCJgvPOA4&t=324s

[2022-09-06 16:34] OmniEdge commented on #862
To keep it to this current issue: Preference to archive deprecated dApps. Clean and less clutter.

Shower thought: What about only listing 'approved' dApps? Some type of curated listing (subjective) or simply a minimum criteria of 3 to 4 stars trust score or more (objective) before listing them. The desired outcome is to reduce work load on a dynamic page listing and filter out low quality/effort

[2022-09-06 17:58] w1g0 commented on #862
@gitr0n1n & @IstoraMandiri ^

[2022-09-08 13:47] alenaign opened #870 "NOW Wallet supports ETC"
NOW Wallet is a non-custodial crypto wallet, created by the team of ChangeNOW Crypto Exchange service.

NOW Wallet supports $ETC - the users can securely store, buy it with fiat, and exchange it right in the app.

May we, please, have NOW Wallet listed [here](https://ethereumclassic.org/services/wallets) among other partner wallets?

Here is a short description of NOW Wallet:
NOW Wallet is a non-c

[2022-09-10 12:10] Dorrdari opened #872 "I would like to submit ETC video by Youtube link"
I would like to submit ETC video by the Youtube link below which is explaining about basic knowledge and value of ETC based on Grayscale Investment Thesis and Building Blocks translated in Korean by my own.

I would be gald if it is helpful for Ethereum Classic's investors through publishing on Ethereum Classic web site's Video Category.

Thank you.

[www.youtube.com/watch?v=y0cGrOosxkk&list=PLYLF

[2022-09-11 10:18] IstoraMandiri opened #873 "services revamp: drill down into best options for different devices / platform"
From discord

[code]

[2022-09-11 23:53] #872 closed

[2022-09-12 12:57] spatialiste opened #875 "Apps & Protocols Page - Soy Finance Application"
Hello guys, we deployed Soy Finance a few weeks ago, and it's pretty successful among the ETC community, so we would like to apply to have Soy Finance listed on https://ethereumclassic.org/services/apps.

Please find the information below. Please let me know if anything is missing or if you need more information.

Soy Finance logo can be found here:
https://zupimages.net/up/22/37/v6s6.png

- title

[2022-09-12 14:49] w1g0 commented on #875
Hello @spatialiste, this is the PR you requested https://github.com/ethereumclassic/ethereumclassic.github.io/pull/876
When it passes the reviews, your project will be listed on https://ethereumclassic.org/services/apps.

[2022-09-12 15:37] spatialiste commented on #875
Thanks a lot @w1g0

[2022-09-12 15:39] w1g0 commented on #875
FYI: It actually changed to https://github.com/ethereumclassic/ethereumclassic.github.io/pull/877

[2022-09-12 15:46] w1g0 opened #878 "FAQ section in LEARN?"
With the coming merge wpwrak formulated some recurring questions:

Q: My ETH miners just stopped. How can I switch them to ETC ?
Q: Which pool is best ?
Q: What wallet should I use for my mining returns ?

Also, for everyone (if ETHW actually launches):
Q: Where can I dump my ETHW while they're still worth something ?

[2022-09-13 10:00] #875 closed

[2022-09-13 13:34] w1g0 commented on #743
This would be a great way to link to a Discord role 👍

[2022-09-13 13:45] w1g0 commented on #824
@mp2023 can you provide a logo? Preferably in .png format so it can be uploaded into the repository.

[2022-09-13 13:51] w1g0 commented on #824
@mp2023 it is mandatory for your service to provide $ETC

[2022-09-13 13:53] #763 closed

[2022-09-13 13:58] w1g0 commented on #768
@justjinn, businesses that accept payments in $ETC would make a useful section on the website.

[2022-09-13 14:01] w1g0 commented on #809
@IstoraMandiri can this issue be closed?

[2022-09-13 14:08] w1g0 commented on #849
@bobsummerwill can you provide us a permanent ETC cooperative Discord link?

[2022-09-13 14:09] w1g0 commented on #848
Is this feature to easily create a PR for updating the site?

[2022-09-13 14:16] w1g0 commented on #870
@alenaign, you can create a PR to be added on the content/services/wallets section. If all the necessary info is provided it can be reviewed and added.

[2022-09-13 14:21] w1g0 commented on #873
How about making a matrix to see what features each wallet provides?

[2022-09-13 14:38] w1g0 commented on #878
![2022-09-13_16h37_33](https://user-images.githubusercontent.com/67763069/189930328-fced496f-b5c2-4353-a874-45b6a962dc2f.png)

[2022-09-14 01:23] mp2023 commented on #824
@w1g0 we do provide $ETC. The app supports it.

[2022-09-14 09:47] w1g0 commented on #824
@mp2023 these are the only projects I can find based of your website.
![image](https://user-images.githubusercontent.com/67763069/190121217-b7b3a2a4-f229-4fec-80dc-026860d12f15.png)

[2022-09-14 09:49] w1g0 commented on #824
There's also no team section on the site, @IstoraMandiri & @gitr0n1n, any thoughts on this?

[2022-09-14 09:57] w1g0 opened #880 "Team Site wasn't added on the PR"
Trust level should be 4 in stead of 3:
https://github.com/ethereumclassic/ethereumclassic.github.io/pull/876

[2022-09-14 10:54] IstoraMandiri commented on #880
Thanks, will look into this.

[2022-09-14 11:38] w1g0 commented on #868
Honestly I think it would still be best to figure out how to get twitter-together working with the @ETC_Network account and if everything is on point, contacting IOHK and see if we can get an API from them and tweet on both accounts with the same process. In both perspectives it is more decentralized.

[2022-09-14 13:55] mp2023 commented on #824
@w1g0 there is a team section on the website, please scroll down the page: https://www.matrixport.com/about
for ETC support please find the screenshot from Matrixport app
![IMG_9255](https://user-images.githubusercontent.com/110385579/190173541-b3e9cda7-390a-4f46-9ae9-b054a8a7d336.PNG)

[2022-09-14 14:04] w1g0 commented on #824
Ok @mp2023, can you provide a logo.png? I will create the PR and see what the reviewers decide.

[2022-09-14 18:33] w1g0 commented on #849
https://discord.gg/5wDyd6u6pU

[2022-09-14 19:00] w1g0 commented on #849
https://github.com/ethereumclassic/ethereumclassic.github.io/pull/881

[2022-09-15 01:42] mp2023 commented on #824
@w1g0 are you able to access the logo.png? https://github.com/mp2023/ethereumclassic.github.io/blob/master/content/services/apps/images/matrixport.png
![matrixport](https://user-images.githubusercontent.com/110385579/190293405-56e8deb0-5b9a-46d4-aa6b-270895510821.png)

[2022-09-15 04:29] IstoraMandiri commented on #849
Please don't close unless the fix is merged.

[2022-09-15 07:40] w1g0 commented on #849
When a PR is created, then what is the use of the issue? If for somehow the PR doesn't work, the issue can be reopened?
Not trying to argue here, just trying to understand the reasoning.

[2022-09-17 00:48] bobsummerwill commented on #849
@w1g0 Generally speaking, the issues track TODOs, which may or may not require "code" changes.

Pull requests might solve existing github issues, and can be tagged as such so that they auto-close existing issues (maybe multiple issues) when they are merged:

https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2022-09-17 09:19] IstoraMandiri opened #886 "Script or gopher to add most popular ETC youtube video each week"

[2022-09-17 09:34] w1g0 commented on #849
Thanks for the explanation @bobsummerwill 🙏

[2022-09-20 06:33] IstoraMandiri opened #890 "Upgrade deps and netlify plugins to latest"
[code]

[2022-09-20 06:50] IstoraMandiri commented on #844
Should be automatic.

Note, we should be mirroring both the source code and the frontend.

[2022-09-20 07:34] IstoraMandiri opened #892 "Rules for checklist"
There have been several instances of apps listing submitting the contract source code as "Open Source", but we should go back and ensure that only *Open Source* code is submitted, i.e. a link to a *git repository* of some kind that includes an Open Source license and build instructions.

[2022-09-20 07:39] IstoraMandiri opened #893 "Update readme"
After #303 and #258 , we should rewrite the readme to help new contributors

[2022-09-20 07:40] IstoraMandiri commented on #846
Duplicate of #258

[2022-09-20 07:40] #846 closed

[2022-09-20 08:06] IstoraMandiri opened #894 "In upcoming restructure, design around popular user stories"
" I am a miner and i want to learn how to mine classic "

" I am a newbie to crypto and I want to be able to receive some ETC "

[code]

etc.

[2022-09-20 08:39] w1g0 commented on #824
@IstoraMandiri, this can be closed now?

[2022-09-21 07:49] #880 closed

[2022-09-21 18:11] #811 closed

[2022-09-22 02:14] TheCrowbill commented on #862
From looking at the PR feed from the website, it seems to me that the majority of changes are new dApps being added rather than outdated info being removed. If there is a page already set up for which to move a deprecated link or dApp listing onto then the workload seems minimal after the initial setup. This also has another benefit should something be removed in error which should have been simpl

[2022-09-22 08:34] w1g0 commented on #862
Currently, I understood that @IstoraMandiri is writing a new website, I don't know what tricks he has up his sleeve. In the meanwhile we can have the discussion here. I lean towards a mashup of all things that you can organize using a filter.

[2022-09-22 16:40] #824 closed

[2022-09-24 09:53] IstoraMandiri opened #898 "Content Review"
- Scan the site for deadlinks
- Check all information is still relevant
- Propose restructure

[2022-09-24 09:56] IstoraMandiri commented on #868
I agree with @w1g0

In any case, I don't think should remove the eth_classic account entirely, at most replacing it on the footer but keeping it in the socials page.

[2022-09-24 10:07] IstoraMandiri opened #899 "More dynamic 'events' section, integrate community calls"

[2022-09-24 21:17] w1g0 commented on #844
Since https://gitlab.com/EthereumClassic was already taken I took the freedom to reserve https://gitlab.com/Ethereum_Classic to my account but willing to hand it over if someone trustworthy wants to take over.

[2022-09-27 08:50] IstoraMandiri opened #904 "Add https://taek.org/posts-categories-of-decentralization somewhere"
In News or Knowledge?

[2022-09-29 13:48] IstoraMandiri opened #906 "Prevent search indexing on all PRs"

[2022-10-04 07:00] IstoraMandiri opened #914 "Custom UI for accepting contributions"
Perhaps fork https://github.com/twitter-together/action/issues/93 once it's completed.

[2022-10-07 06:08] IstoraMandiri opened #917 "Add new video categories: Drama, Misc."

[2022-10-07 06:08] IstoraMandiri opened #918 "Update title when opening apps for SEO / Sharing"

[2022-10-08 12:20] mr-arashmousavi opened #919 "append new ETC RPC"
# ETCPlantes

## Hello
Can you help to add RPC?
Thanks
-------------------------------------------------------------
[etcplanets.com](https://etcplanets.com/)

[2022-10-08 15:46] w1g0 commented on #919
@mr-arashmousavi, add RPC to what?

[2022-10-08 18:55] mr-arashmousavi commented on #919
**### hello**
we want  to add etc rpc to matamask and according to this article [" Public Endpoints "](https://ethereumclassic.org/network/endpoints)
-------------
could you please help

[2022-10-08 19:00] w1g0 commented on #919
This can be done following this https://ethereumclassic.org/guides/metamask guide.

[2022-10-08 19:12] mr-arashmousavi commented on #919
we run over own **ETC** node and we want to people use over **RPC** in metamask

[2022-10-08 19:15] w1g0 commented on #919
Do you want your RPC url listed here?

![2022-10-08_21h15_03](https://user-images.githubusercontent.com/67763069/194723866-a4c41585-39d9-481f-b0f4-b13888f8d795.png)

[2022-10-08 19:16] mr-arashmousavi commented on #919
yes

[2022-10-08 19:20] mr-arashmousavi commented on #919
And we wanted guidance in the field of activation in Metamask
Metamask in some browsers
eth_chainId error
gives

[2022-10-08 19:23] w1g0 commented on #919
Fork this repo, edit this https://github.com/ethereumclassic/ethereumclassic.github.io/blob/master/content/network/endpoints/index.en.yaml file and create a pull request into master branch. Once reviewed and approved it will be added in this list.

Guidance for MetaMask I personally can provide if anyone here, but maybe seek assistance in on their GitHuB?
https://github.com/MetaMask/metamask-docs

[2022-10-11 10:56] IstoraMandiri commented on #919
Fixed in #920

[2022-10-11 10:56] #919 closed

[2022-10-12 17:28] IstoraMandiri opened #925 "This chatroom was removed due to it being a "project specific" chatroom. This is a hebeswap chatroom, not an Ethereum Classic chatroom."
This chatroom was removed due to it being a "project specific" chatroom. This is a hebeswap chatroom, not an Ethereum Classic chatroom.

[code]

If we are going to add project specific chatrooms, we should be very clear about it. I imagine Hebeswap is heavily promoted in these chatroms due to the two people running the project (hebeswap staff). We don't see this from other teams in the ETC ecosyst

[2022-10-12 17:54] Jamyye commented on #925
My thoughts are it's fine to have a community channel run by hebeblock listed on the page. It may be useful to expand upon the "dont trust, verify" disclaimer for the channel page. Something along the lines of "these chat rooms are maintained by volunteers and community members. *insert warning about not trusting, always verifying here*"

In future we will want to be extra careful of avoiding a co

[2022-10-12 18:06] gitr0n1n commented on #925
This chatroom was removed due to it being a "project specific" chatroom. This is a hebeswap chatroom, not an Ethereum Classic chatroom.

[code]

If we are going to add project specific chatrooms, we should be very clear about it. I imagine Hebeswap is heavily promoted in these chatroms due to the two people running the project (hebeswap staff). We don't see this from other teams in the ETC ecosyst

[2022-10-13 01:02] IstoraMandiri commented on #925
@HebeBlock appreciate your comments.

There is no official decision making in ETC, so please don't assume that @gitr0n1n represents the whole community. He is a long time contributor to this website, but like everyone here, is acting individually.

We are not against listing external non-etc branded services, as per the apps section. chainlist.org is not listed in the Social Channels page, and we

[2022-10-13 21:05] w1g0 commented on #925
There are several issues with this proposal that need to be addressed:

   1) people currently can't enter the server without acquiring the "approved" role.
   2) the idea is that people can participate that don't speak English so the rules need to be translated.
   3) it wouldn't hurt to have a representative to moderate very lightly or at least warn a mod.

I would suggest applying a "language"

[2022-10-15 11:00] IstoraMandiri opened #928 "Add ETCLabs Github Repo To footer"
https://twitter.com/Sunbrightyousee/status/1580929370817892352

[2022-10-18 12:17] #928 closed

[2022-10-18 12:34] #868 closed

[2022-10-19 02:45] IstoraMandiri opened #934 "Update to tailwind 3 and react 18"

[2022-10-19 02:50] IstoraMandiri commented on #851
I'm not 100% sure about this, as without context the stars look like ratings as opposed to trust scores.

The trust scores are also not really super reliable, so I wouldn't want to make apps look like they are "better" just because they have more "trust" metrics.

[2022-10-19 02:51] IstoraMandiri opened #935 "Bring back "Team Site" with stricter rules"
This time, link require a link specifically to the site's team members section.

As opposed to using Author Link, which people were using incorrectly due to ambiguity.

[2022-10-19 03:14] IstoraMandiri commented on #417
@gitr0n1n @bobsummerwill is it just this one? https://www.youtube.com/watch?v=yWX-GZAQxYA

[2022-10-19 09:14] d-a8564 opened #936 "Add Community Calls to the website"
Can we update the latest community calls on the website? sorry, I'm not very familiar with github

Ethereum Classic Community Calls: https://www.youtube.com/channel/UCp07VPnC1ejyAp5gMvvA4dw

thank you

[2022-10-19 11:42] #851 closed

[2022-10-19 11:48] w1g0 commented on #936
Hello @d-a8564, they are here https://ethereumclassic.org/community/channels#media
unless your question is to add it here https://ethereumclassic.org/videos

[2022-10-19 16:16] d-a8564 commented on #936
Yes, I wish we could add the last 4 calls here https://ethereumclassic.org/videos

[2022-10-19 16:25] d-a8564 commented on #936
There are also educational videos about Ethereum Classic from the Emerald youtube channel that have been made recently, I think it could be good to add them.
For exemple
What is WETC: https://www.youtube.com/watch?v=xJtqXMBz0UA
The Ethereum Classic Monetary Policy Explained: https://www.youtube.com/watch?v=2zXqFTFJLic

[2022-10-19 16:36] w1g0 commented on #936
If you want maybe we can propose a demonstration during the Community Calls on how to make a PR?
It are all great suggestions imo.

[2022-10-19 16:42] w1g0 commented on #936
Basically you fork the "https://github.com/ethereumclassic/ethereumclassic.github.io" repo and edit the "https://github.com/ethereumclassic/ethereumclassic.github.io/blob/master/content/videos/videos.collection.en.yaml" file. The format is explained with the # in front it omits the code. When it's saved you can Pull a Request from your own branch (personal repository) into the master branch (ETC r

[2022-10-19 17:17] d-a8564 commented on #936
I'll try, thank you @w1g0

[2022-10-19 17:26] w1g0 commented on #936
The interface can a bit daunting so check some online tutorials if it is unclear, when your still stuck just drop a line here or on Discord 😉

[2022-10-19 18:56] w1g0 commented on #936
https://github.com/ethereumclassic/ethereumclassic.github.io/pull/938

[2022-10-19 19:03] #936 closed

[2022-10-20 04:53] IstoraMandiri opened #939 "Redirect searches starting with 0x"
People are using search for block explorer, redirect them to one.

[2022-10-20 09:04] w1g0 opened #940 "Sorting of the videos is somewhat weird, can it be on date of uploading or the date of the upload on the mediaplatform itself?"

[2022-10-20 23:50] #772 closed

[2022-10-20 23:50] #870 closed

[2022-10-20 23:50] #904 closed

[2022-10-20 23:50] #809 closed

[2022-10-20 23:50] #918 closed

[2022-10-20 23:50] #935 closed

[2022-10-20 23:50] #939 closed

[2022-10-20 23:56] IstoraMandiri commented on #940
I was trying to keep things simple by having a single `date` field that was the same as whatever was shown on youtube.

I can see that in some cases, when we want to add a video that has an old upload date, then it make the added video not very visible.

 There is no easy fix for this other than creating an `added` field with the date.

I guess the front page should list newest videos by `added`,

[2022-10-21 00:19] #890 closed

[2022-10-21 00:19] #917 closed

[2022-10-21 00:19] #854 closed

[2022-10-21 00:23] TheCrowbill commented on #940
I agree.  Track the `date added` to do a front page splash of newest videos.

I suggest, however, that the video page lists be sorted by `creator `and alphabetized by `title`.

Would this add too many parameters?

[2022-10-21 00:34] IstoraMandiri opened #943 "Update MDX version"

[2022-10-21 00:39] IstoraMandiri commented on #940
I disagree about the sorting on the videos page, because it will bias exposure to results.

I feel like creation date is more relevant and keeps the content fresh.

[2022-10-21 07:09] TheCrowbill commented on #925
This discussion is revealing that solutions are more a Discord issue than a website issue. Are we in the appropriate venue for this discussion to take place?

[2022-10-21 08:37] w1g0 commented on #940
Sounds good to me 👍

[2022-10-21 08:39] w1g0 commented on #925
It would make sense to open a new repo to manage the Discord if that is something that @mikeyb supports.

[2022-10-23 07:42] shibcmemes opened #946 "Add Project - Shiba Classic"
Hello 👋, I am danoz and I am self appointed Minister of Engineering Maximal Experiences (MEMEs) at Shiba Classic.

As discussed with @IstoraMandiri in https://github.com/ethereumclassic/tweets-etc_network/pull/116#issuecomment-1287642884 < here yesterday - I am requesting to have Shiba Classic added to ethereumclassic.org

Website: https://www.shibaclassic.sc/

Audit: https://twitter.com/SoteriaSC

[2022-10-23 07:53] IstoraMandiri commented on #946
Sure thing, I'll add this soon.

Thank you for your service, Minister.

[2022-10-23 07:56] shibcmemes commented on #946
Much appreciated, thank you🖖

[2022-10-24 01:53] IstoraMandiri commented on #878
@w1g0

what would you suggest for "what wallet should I use for my mining returns"?

[2022-10-24 06:32] #894 closed

[2022-10-24 09:16] w1g0 commented on #878
Not sure why this question was pointed towards me but I prefer either a Trezor or Ledger with a slight preference towards Ledger because of easy integration with 🕸️ 3.0 sites. But a Trezor is Open Source and leans more into the FOSS philosophy, it requires a bit more tweaking. In the end both of them are decent options. If you can't afford a hardware wallet look into Emerald, it's a clean and mini

[2022-10-25 04:43] IstoraMandiri commented on #878
Just to figure out a good general answer to this for the FAQs

[2022-10-25 08:35] TheCrowbill commented on #878
I agree with @w1g0 on the Emerald wallet recommendation. It is an excellent wallet that just works.

[2022-10-26 00:10] #946 closed

[2022-10-27 00:34] IstoraMandiri opened #954 "Alternative video providers"
Youtube is blocked in china, and some videos are hosted on odysee, etc.

So we should support non-youtube videos in the videos sectoin.

[2022-10-28 01:01] IstoraMandiri opened #957 "Add alexs0x01 to contributors list"
See recent typos fixes

[2022-10-28 13:06] w1g0 opened #959 "Can we revive https://forum.ethereumclassicforum.com/ ?"

[2022-10-28 15:38] IstoraMandiri opened #960 "Preoptimize Images"

[2022-10-28 15:38] IstoraMandiri commented on #959
Sounds good, but not relevant to this repo - please try asking in Discord.

[2022-10-28 15:38] #959 closed

[2022-10-28 16:37] IstoraMandiri commented on #925
Ref #952

[2022-10-29 00:42] IstoraMandiri opened #962 "Rename this repo to "website""
So previously, this website was hosted at [ethereumclassic.github.io](https://github.com/ethereumclassic/ethereumclassic.github.io), which meant the title of the repo had to match this.

Even after switching to ethereumclassic.org we kept this name so that indexers had time to catch the redirect. But now many years have passed, so the `github.io` URL is no longer indexed in search engines.

As suc

[2022-10-29 08:41] w1g0 commented on #962
Renaming the repo would make sense, if it will stay ethereumclassic.org I prefer that name so that searches can turn up the GitHub page as well.

[2022-10-29 23:06] IstoraMandiri opened #963 "Poof.io"
from discord

oh hey, could we get an add to

https://ethereumclassic.org/development/tooling#payment-processors
(for reference)
1. Website - https://www.poof.io/
2. Description - Web3 payments infrastructure for crypto and fiat money movement
3. Example: (https://i.imgur.com/zmbElsO.png)

[2022-10-30 01:55] shibcmemes opened #964 "Shiba Classic Trust Level Outdated/Incorrect"
gm, good afternoon and gn - depending on where you are!

Thank you for adding Shiba Classic to the website, that is really appreciated.

I am wondering if our trust level is incorrect or perhaps outdated - I know that it was a late addition that our contract is open source and verified as the one on chain.

It does link appropriately to GitHub: https://github.com/Shiba-Classic-ETC/Shiba-Classic-Co

[2022-10-30 02:24] IstoraMandiri commented on #964
Thanks for the post. For the Open Source check, the project must meet the definitions of an Open Source project.

This includes having an Open Source license, as well as the source code (the original project files used to create the contract).

In this case, the repository you have provided does not contain an open source license, and only contains the concatenated contract output, not the source

[2022-10-30 02:56] shibcmemes commented on #964
Gotcha - that makes a lot of sense. Thank you for this info!

[2022-10-30 02:56] #964 closed

[2022-11-02 08:03] w1g0 opened #968 "Is there someone that wants to add a part about FPGA's in the https://ethereumclassic.org/mining/hardware section?"

[2022-11-02 23:15] IstoraMandiri opened #969 "Update Etherplan link"
link on the dot-org website to the etherplan youtube channel to https://www.youtube.com/@etherplan

[2022-11-02 23:16] IstoraMandiri opened #970 "Remove dead links"
https://ethereumclassic.org/development/guides#getting-started

[2022-11-03 11:45] #969 closed

[2022-11-04 16:03] #963 closed

[2022-11-15 17:38] IstoraMandiri opened #981 "Increase resolution on front page video image"

[2022-11-16 01:05] IstoraMandiri opened #983 "Display Machine Translations?"
So currently we have auto-translated the website into many languages.

https://etc-i18n.netlify.com

These auto-translations are imperfect, so are not merged into master yet. We could merge them into master (i.e. make them visible on https://etheruemclassic.org) to incentivize contributions (see readme).

This might look bad and might confuse people if the translations don't make sense, but for tr

[2022-11-16 01:17] DonaldMcIntyre commented on #983
At ETC Coop we are writing posts in english and then a team member translates manually to Chinese. Then, we post them in the main website one after the other as consecutive posts.

The other option is to just have the site in english and have people use Google automatic Translate as it happens rto me when I go to foreign sites.

[2022-11-16 04:01] IstoraMandiri opened #984 "New Apps: ETCerscan and Safe Mutisig"
ETCerscan
Safe Multisig

[2022-11-16 19:31] w1g0 commented on #983
Enabling translations that are not proof read doesn't make much sense as people can achieve the same outcome by installing the Google translate browser plugin. The only thing you achieve is making your website look unprofessional imo.

[2022-11-17 08:12] TheCrowbill commented on #983
Given that the banner @IstoraMandiri suggests is prominently displayed on every unproofed page and clearly states that we only publish unproofed material in order to recruit translation help and encourage broader participation, I see nothing unprofessional about it.

It is a reasonable way for unfunded volunteers to recruit help since there is no headhunter budget from which to hire a translation

[2022-11-17 15:22] w1g0 commented on #983
Ok, you guys convinced me 👍

[2022-11-18 23:30] IstoraMandiri opened #986 "Always show the same date"
For blog posts, etc, the timezone appears to be offset by UTC, but it should show the same date regardless of client timezone.

![image](https://user-images.githubusercontent.com/1696942/202820080-b243f466-cd32-40ba-9e6d-f3e60c469bfc.png)

[2022-11-19 00:01] IstoraMandiri opened #987 "Automatically create PR to @eth_network for new blog posts"

[2022-11-19 23:49] IstoraMandiri opened #988 "Fix FAQs SSR"

[2022-11-20 00:28] IstoraMandiri opened #989 "Post i18n merge TODOs"
DEV
- Check Algolia language search is working
- Language specific Sitemaps xml
- Modal for yt videos
- Optimize bundle size
- Optimize dayJS
- Enable original markdown image links
- Optimization: Skip sourcing of source non-enabled locales.
- Fix dev mode rendering / console warnings
- Check code TODOs / LODOs

EACH WEEK

- Clean up translations within crowdin
- For each new language, add a video

[2022-11-20 00:30] IstoraMandiri opened #990 "Add content types to RSS feed and prefix apps/video titles"

[2022-11-21 02:19] #983 closed, assigned to nobody

[2022-11-22 01:18] IstoraMandiri opened #992 "🌐 Translation Progress / Schedule / Volunteers"
If you would like to propose new languages or help with human translations, please reply to this thread.

You can sign up to help and track the status of translations in more detail at https://crowdin.com/project/etc-web-test-3.

You can view non-published translations in context at https://etc-i18n.netlify.app/.

A tutorial on how to contribute translations is available at https://www.youtube.com

[2022-11-22 02:14] IstoraMandiri opened #993 "Social Cards for Shared Videos and Apps"

[2022-11-22 02:20] IstoraMandiri opened #994 "UI for creating PRs"
Similar to https://staticman.net/, but tailored for this website and tweets

- Blog Posts
- Videos
- Apps
- Links
- Exchanges, Wallets, etc.
- i18n versions of above
- Tweets

Instead of #744

[2022-11-22 09:21] w1g0 commented on #992
At the moment I have limited bandwidth but I can take parts for the Dutch language and am willing to coordinate a team if there are more people interested in translating into the Dutch language.

[2022-11-23 00:38] IstoraMandiri opened #996 "Split i18n sitemap.xml"
Pending https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/16

[2022-11-23 00:48] IstoraMandiri opened #997 "Bundle Size Optimizations (Low Priority)"
Bundle size isn't too crazy but leaving to document some potential future optimizations.

- Refactor / Precompile dynamic markdown
- Dynamic DayJS imports
- Replace algolia with custom API calls

[2022-11-23 00:54] #989 closed, assigned to nobody

[2022-11-23 00:59] IstoraMandiri opened #998 "Arabic and Thai i18n fixes"
- Use generic/consistent font for headers
- Render Arabic RTL

[2022-11-23 01:08] #990 closed, assigned to nobody

[2022-11-23 09:02] #981 closed, assigned to nobody

[2022-11-23 09:02] #986 closed, assigned to nobody

[2022-11-23 09:02] #988 closed, assigned to nobody

[2022-11-24 23:06] cyberus7569 opened #1002 "grammatical error."
the circled should read either "If you are looking to run your own ETC Client" or "If you are looking to run an ETC Client"

![grammatical error](https://user-images.githubusercontent.com/59535828/203872609-26738e50-b55c-4308-a34e-10303d7fab11.jpg)

[2022-11-25 09:44] #1002 closed

[2022-11-28 15:28] Mad-n commented on #992
Just joined Crowdin to help on french translation.

[2022-11-28 18:17] w1g0 commented on #992
Impeccable! 👌